<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type="text/css" href='./estilo.css?v2.2'>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script type="text/javascript" src="/index.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
<div class="body-container">
    <div class="sidebar">
        <div class="sidebar-section">
        </div>
        <div class="sidebar-section">
            <a class="sidebar-object" href="adicionar_pessoa"> <span class="material-symbols-outlined">person </span> Adicionar </a>
        </div>
        <div class="sidebar-section">
            <a class="sidebar-object" href="recuperar_pessoa"> <span class="material-symbols-outlined"> travel_explore </span> Recuperar </a>
        </div>
        <div class="sidebar-section">
            <a class="sidebar-object" href="deletar_pessoa"> <span class="material-symbols-outlined"> delete </span> Deletar </a>
        </div>
        <div class="sidebar-section">
        </div>
    </div>
    <div class="form" style="align-items: center; width: 85%">
        <input id="cpf_get" style="width: 500px; height: 20px; margin-top: 20px; margin-bottom: 5px">
        <button type="submit" onclick="getCPF()"> Recuperar </button>
        <div class="data-exibit">
            <h2 class="text"> Usuários Encontrados </h2>
            <ul class="text"></ul>
        </div>
            </div>

        </div>

</body>
</html>