@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.body-container {
    display: flex;
    flex-direction: row;
    margin: -2vb;
}

.sidebar {
    width: 15%;
    height: 100vh;
    text-align: center;
    display: flex;
    background-color: #ff8800;
    flex-direction: column;
}

.sidebar-section{
    margin: 3vh;
}

.sidebar-object{
    text-decoration: none;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 30px;
}

.sidebar-object:hover{
    transition: color 3000ms;
    color: cyan;
    cursor: pointer;
    border-top-width: 15px;
    border-right-width: 15px;
    border-bottom-width: 15px;
    border-left-width: 15px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    background-color: black;
}

.logo{
    height: 100px;
    width: 160px;
}

.logo:hover{

}

.graph{
    margin: 3vb;
    height: 150px;
    width: 300px;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 3vb;
    width: 800px;
    align-items: center;

}

.form-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.form-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
}

.form-item{
    height: 30px;
    width: 300px;
    border-radius: 10px;
}

.data-exibit{
    border-top-width: 15px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 0px;
    border-color: black;
    border-style: solid;
    margin-top: 100px;
    width: 50%;
    align-items: center;
    text-align: center;
}

#label{
    align-self: start;
}

.text{
font-family: "Roboto Condensed", sans-serif;
}